.App {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.general-info {
  display: flex;
  flex-direction: column;
}

.experience {
  display: flex;
  flex-direction: column;
}

.education {
  display: flex;
  flex-direction: column;
}
